body{
    background-color:black;
}
h2{
    color:#F3F7F0;
    text-align:center;
    font-size:300%;
}
h1{
    color:#F3F7F0;
    text-align:center;
    font-size:500%;
}
div{
    background-color:#EF3E36;
}
img{
    width:  300px;
    height: 300px;    
}
